<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Profile</title>
</head>
<body>
    <form action="/user/uploadFoto" method="post" enctype="multipart/form-data">
    <input type="file" name="contain" /><br><br>
    <button type="submit">Upload Foto</button>
    </form>

</body>
</html>